.container{
    width:40%;
    color:white;
    background: #255e98;
    border-radius: 5px;
    padding:30px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.password-wrapper{
    width:100%;
    height:50px;
}
.password-area{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;
}
.password-area .password{
    width:100%;
    height:100%;
    border-radius: 5px;
}
.password-area .password input{
    width:100%;
    height:100%;
    font-size: 20px;
    background: #caf0f8;
    color:black;
    line-height: 50px;
    border-radius: 5px;
    border:none;
    outline:none;
}
/* .password-area .password button{
    position:absolute;
    right:0;
    top:50%;
    width:50px;
    height:100%;
    padding:12px;
} */